@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Oswald:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #303e47;
}

.logontitle {
  display: flex;
  justify-content: center;
}

.logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: #00b2e2;
  margin-top: 45px;

}

body img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.title {
  margin-top: 50px;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: x-large;
}

.container1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.oneinthree {
  background-color: #ffd000;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 31.6%;
  margin-left: 20%;
}

.million {
  background-color: #00b2e2;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 20;
  margin-right: 20%;
}

.container2 {
  background-color: #ff6347;
  margin-left: 20%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 50%;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.container3 {
  background-color: #00b2e2;
  margin-left: 20%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 50%;
  display: flex;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}

.riskfactorright {
    margin-left: 7%;
}

.container4 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}

.frenchfries {
  background-color: #ff6347;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 20%;
  height: 20%;
  margin-left: 20%;
}

.juice {
  background-color: #ffd000;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 20%;
  height: 20%;
  margin-right: 20%;
}

.container5 {
  display: flex;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}

.container5text {
  background-color: #00b2e2;
  text-align: center;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 30%;
}

.container5icons {
  background-color: #00b2e2;
  text-align: center;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 14%;
}

.container6 {
  display: flex;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}

.container6text {
  background-color: #ffd000;
  text-align: center;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 30%;
}

.container6icons {
  background-color: #ffd000;
  text-align: center;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 14%;
}

.container7 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.billion {
  background-color: #00b2e2;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 38.2%;
  margin-left: 20%;
}

.container7right {
  background-color: #ff6347;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 20;
  margin-right: 20%;
}